@import url("template.css") screen;

#content > p {font-size: 18px; }

.description p {padding-top: 10px; margin-right: 375px; }

table {margin-top: 30px; }

.inquiry { padding-top: 30px; font-variant: small-caps; }

.pdf {font-size: 16px; padding-top: 10px; }
