/* china.css */

#content > p {font-size: 16px; }

.description p {margin: 0px 200px 15px 0px; }

img {float: left; }

.samples img {margin: 0px 0px 3px 3px; }

#date {font-size: 14px; }

.clear {clear:both; padding-top: 15px; }